.privacy-title {
    overflow-y: visible;

    #{&}__bg{
        overflow: visible;
        width: 124vw;
        height: auto;
        margin-left: -12vw;
    }

    #{&}__container{
        display: grid;
        width: 100%;
        height: 100%;
        container: privacy / size;
    }
}

@container privacy (min-height: 0px) {
    .privacy-title{
        #{&}__heading{
            font-family: $primary-font-light;
            color: $font-on-bg-colour;
            font-size: 38cqh;
            align-self: center;
        }

        #{&}__update{
            font-family: $secondary-font;
            color: $font-on-bg-colour-secondary;
            font-size: 30cqh;
            line-height: 1.6;
            align-self: end;
        }
    }
}

.privacy-policy{
    width: 57vw;
    height: auto;
    margin-left: 12vw;
    margin-top: -3.5vw;

    h1, h2{
        font-family: $primary-font-light;
        text-transform: uppercase;
        line-height: 1.6;
        margin-bottom: 0.2vw;
        color: $font-on-bg-colour-secondary;
    }

    h1{
        font-size: 2.25vw;
    }

    h2{
        font-size: 1.875vw;
    }

    p, li{
        font-family: $secondary-font;
        font-size: 1.5vw;
        line-height: 1.6;
        margin-bottom: 0.2vw;
        color: $font-on-bg-colour-secondary;
    }

    li {
        margin-left: 1.6vw;
    }
}