.drop-down{
    #{&}__top{
        display: flex;
    }

    #{&}__button-container{
        display: grid;
        align-items: center;
    }

    #{&}__button{
        border: none;
        background: none;
    }

    #{&}__heading{
        font-family: $primary-font-light;
        color: $font-on-bg-colour;
    }

    #{&}__content-container{
        display: grid;
        transition: grid-template-rows 1s;
    }

    #{&}__content{
        overflow: hidden;
    }
}