.checkbox{
    font-family: $secondary-font;
    color: $font-on-bg-colour-secondary;

    #{&}__btn{
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 1px;
        overflow: hidden;
        position: absolute;
        white-space: nowrap;
        width: 1px;
    }
}