$background-colour: #0F172A;
$border-colour: #FFF;
$error-colour: firebrick;
$link-colour: whitesmoke;
$link-hover-colour: rgba(245, 245, 245, 0.9);
$table-background-colour: #FFF;
$table-colour: #000;
$text-colour: #FFF;