$primary-font-medium: bankGothicMedium, sans-serif;
$primary-font-light: bankGothicLight, sans-serif;
$secondary-font: indivisible, sans-serif;

$font-on-bg-colour: #233682;
$title-colour: #233682;
$font-on-accent-colour: #FFF;
$nav-font-colour: #000;
$font-on-bg-colour-secondary: #000;

$background-colour: #FFF;
$accent-colour-dark: #233682;
$accent-colour-light: #2869A8;

@font-face {
    font-family: bankGothicMedium;
    src: url("/fonts/Bank Gothic Medium.otf") format("opentype");
}

@font-face {
    font-family: bankGothicLight;
    src: url("/fonts/Bank Gothic Light Regular.otf") format("opentype");
}