.nav-bar{
    margin-top: 1vh;
    margin-bottom: 1vh;
    display: flex;
    justify-content: space-between;
    font-family: $primary-font-medium;
    width: 100vw;


    #{&}__txt-link:any-link{
        font-size: 2vw;
        color: $nav-font-colour;
        text-decoration: none;
    }

    #{&}__img-link{
        display: flex;
        align-content: right;
        margin-left: 6vw;

        img{
            width: 25vw;
            height: 7vw;
        }
    }

    ul{
        align-self: right;
        padding-right: 13vw;
        list-style-type: none;
        display: flex;
        justify-content: space-evenly;
        gap: 2.5vw;
    }

    li{
        display: flex;
        align-items: center;
    }
}