$font-stack: sans-serif;
$background-colour: #FFF;
$font-on-bg-colour: #000;
$title-colour: darkBlue;
$accent-colour-dark: darkBlue;
$accent-colour-light: lightBlue;
$font-on-accent-colour: #FFF;
$nav-font-colour: #000;