@import "./resets";
@import "./variables";

.fact-banner{
    position: relative;
    width: 140vw;
    height: 8vw;

    #{&}__container{
        width: 100%;
        height: 100%;
        container: fact-banner / size;
        align-content: center;
        display: grid;
    }

    #{&}__bg{
        width: 100%;
        height: auto;
        position: absolute;
        left: -17vw;
    }
}

@container fact-banner (min-height: 0px) {
    .fact-banner__fact{
        font-size: 31cqh;
        font-family: $primary-font-medium;
        color: $font-on-accent-colour;
        line-height: 1.3;
    }
}