@import "./resets";
@import "./variables";

.feature-properties{
    overflow-x: hidden;

    #{&}__title-container{
        width: 100%;
        height: 100%;
        display: grid;
        align-content: center;
        container: feature-properties__title-container /size;
    }
}

.carousel{
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    container: carousel / size;
}

@container feature-properties__title-container (min-height: 0px){
    .feature-properties__title{
        font-family: $primary-font-medium;
        color: $font-on-bg-colour;
        font-size: 50cqh;
    }
}

@container carousel (min-height: 0px) {
    .carousel-item{
        display: inline-flex;
        align-items: start;
        justify-content: center;
        height: 70cqh;
        width: 100cqw;
        flex-shrink: 0;
        margin-top: 10cqh;
        margin-bottom: 20cqh;
    
       #{&}__img{
            height: 70cqh;
        }
    }

    .carousel__indicator{
        height: 6cqh;
        width: 22cqh;
    }

    .carousel__inner{
        display: flex;
        height: 100cqh;
        width: 100cqw;
        list-style: none;
    }

    .carousel__buttons{
        display: flex;
        justify-content: space-evenly;
    }

    .carousel__left,.carousel__right{
        background: none;
        border: none;
        cursor: pointer;
        position: absolute;
        top: 25cqh;
        z-index: 1;
    }

    .carousel__left-arrow, .carousel__right-arrow{
        height: 40cqh;
        width: 25cqh;
    }

    .carousel__left-arrow{
        transform: scaleX(-1);
    }

    .carousel__left{
        left: 0%;
    }

    .carousel__right{
        right: 0%;
    }

    .carousel__indicators{
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        bottom: 5cqh;
        z-index: 1;
    }

    .carousel__indicator{
        border: none;
        cursor: pointer;
        background: none;
    }
}