@import "./resets";
@import "./variables";

.trust-interested{
    display: flex;
    width: 100vw;
    height: 45vw;
    container: trust-interested / size;
}

@container trust-interested (min-height: 0px) {
    h1{
        font-family: $primary-font-light;
        color: $font-on-bg-colour;
        font-size: 7.25cqh;
        margin-left: 4cqh;
        margin-bottom: 0.5cqh;
    }

    .trust{
        width: 50vw;
        padding-left: 6vw;
    
        #{&}__companies{
            display: grid;
            grid-template-columns: repeat(2, auto);
            justify-content: start;
            list-style: none;
            column-gap: 4cqh;
            row-gap: 3.5cqh;
            margin-top: 3.5cqh;
        }
    
        #{&}__company{
            font-family: $secondary-font;
            color: $font-on-bg-colour-secondary;
            padding-left: 6cqh;
            font-size: 4cqh;
        }
    
        #{&}__company::before{
            content: '';
            position: absolute;
            height: 1cqh;
            width: 4cqh;
            top: 1.25cqh;
            left: 0;
            background-repeat: no-repeat;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 31.426 8.493'%3E%3Cpath id='Path_296' data-name='Path 296' d='M393.437-174.07l-14.076,8.493H396.71l14.076-8.493Z' transform='translate(-379.361 174.07)' fill='%23233682'/%3E%3C/svg%3E%0A");
        }
    
        li{
            position: relative;
            overflow-x: visible;
        }
    }
    
    .interested{
        width: 50vw;
        padding-right: 6vw;
    
        #{&}__arrow{
            margin-top: 3.5cqh;
            margin-left: 4cqh;
            height: 37cqh;
            overflow: visible;
        }
    
        #{&}__learn-more-container{
            height: 100%;
            width: 100%;
            container: learn-more / size;
        }
    
        #{&}__text-container{
            height: 100%;
            width: 100%;
            container: interested-text / size;
            display: grid;
            align-content: center;
        }
    
        #{&}__link-container{
            height: 100%;
            width: 100%;
            display: grid;
            align-content: center;
            justify-content: center;
            container: learn-more-link / size;
        }
    }
}

@container learn-more-link (min-height: 0px) {
    .interested a:any-link{
        color: $accent-colour-light;
        font-family: $primary-font-light;
        text-decoration: none;
        font-size: 60cqh;
    }
}

@container learn-more (min-height: 0px) {
    .interested_learn-more{
        height: 7cqh;
    }
}

@container interested-text (min-height: 0px) {
    .interested__text{
        font-family: $primary-font-light;
        color: $font-on-accent-colour;
        font-size: 10cqh;
    }
}